body {
  font: 14px/26px "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1 {
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: normal;
  font-family: "Droid Serif", Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 16px;
}
#chatbox {
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0 0;
  overflow: hidden;
  border-radius: 10px;
}
#chatbox #messages {
  list-style: none;
  padding: 20px;
  margin: 0;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
#chatbox #messages > li {
  line-height: 20px;
  margin-bottom: 10px;
}
#chatbox #messages > li img {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 5px;
}
#chatbox #messages > li code {
  display: inline-block;
  font-size: 12px;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1px 4px;
  margin-bottom: 2px;
}
#chatbox #messages > li strong.nickname {
  display: inline-block;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1px 4px;
  margin-bottom: 2px;
  font-weight: normal;
}
#chatbox #messages > li em {
  font-style: normal;
  text-decoration: underline;
}
#chatbox #messages > li.info {
  background-color: rgba(79, 148, 194, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
}
#chatbox #messages > li.user-info {
  background-color: rgba(219, 217, 79, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
}
#chatbox #messages > li.error {
  background-color: rgba(222, 71, 71, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
}
#chatbox #messages > li.message {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin-right: 5px;
  padding: 2px 4px 2px 100px;
  position: relative;
}
#chatbox #messages > li.message p {
  margin: 0;
}
#chatbox #messages > li.message p:not(:last-child) {
  margin-bottom: 5px;
}
#chatbox #messages > li.message .left-content {
  background-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: block;
  position: absolute;
  padding: 2px 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  width: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
#chatbox #messages > li.message .left-content .nickname {
  font-size: 12px;
  font-weight: normal;
}
#chatbox #send-message {
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.02);
}
#chatbox #send-message input[type='text'] {
  border: 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font: 14px "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0 !important;
  padding: 8px 15px;
  width: 80%;
  width: calc(80% - 20px);
  width: -webkit-calc(80% - 20px);
  width: -moz-calc(80% - 20px);
  width: -ms-calc(80% - 20px);
  width: -o-calc(80% - 20px);
}
#chatbox #send-message button[type='submit'] {
  border: 0;
  background-color: #75BD4B;
  color: white;
  font: 14px "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 20%;
  width: calc(20% - 10px);
  width: -webkit-calc(20% - 10px);
  width: -moz-calc(20% - 10px);
  width: -ms-calc(20% - 10px);
  width: -o-calc(20% - 10px);
  padding: 8px 5px;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
}
#chatbox #send-message button[type='submit']:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: grey;
}
#chatbox #send-message button[type='submit']:not(:disabled):hover,
#chatbox #send-message button[type='submit']:not(:disabled):focus {
  background-color: #84CC5A;
  cursor: pointer;
}
#drop-area {
  border: 3px dashed rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 0 solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
#drop-area.over {
  animation: drop-area-anim 500ms infinite;
  -webkit-animation: drop-area-anim 500ms infinite;
  -moz-animation: drop-area-anim 500ms infinite;
  -ms-animation: drop-area-anim 500ms infinite;
  -o-animation: drop-area-anim 500ms infinite;
}
label[for="files-upload"] {
  display: block;
  background-color: #4085B3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}
label[for="files-upload"] #files-upload {
  background-color: transparent;
  border: 0px solid transparent;
  display: none;
}
label[for="files-upload"]:hover {
  background-color: #4F94C2;
  cursor: pointer;
}
#waiting-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
#waiting-list:empty {
  display: none;
}
#waiting-list li {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
}
#waiting-list li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
#waiting-list li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#waiting-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#waiting-list li .infos {
  margin-right: 170px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#waiting-list li .infos .name {
  display: block;
  font-weight: normal;
}
#waiting-list li .infos .size,
#waiting-list li .infos .type {
  color: grey;
}
#waiting-list li .infos .type:not(:empty):before {
  content: " - ";
}
#waiting-list li .controls {
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  top: -webkit-calc(50% - 15px);
  top: -moz-calc(50% - 15px);
  top: -o-calc(50% - 15px);
  top: -ms-calc(50% - 15px);
  right: 20px;
}
#waiting-list li .controls button {
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px;
  font: 14px/26px "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  margin-left: 5px;
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
}
#waiting-list li .controls button:hover {
  cursor: pointer;
  color: white;
}
#waiting-list li .controls button.send:hover,
#waiting-list li .controls button.send:focus {
  background-color: #4085B3;
}
#waiting-list li .controls button.cancel:hover,
#waiting-list li .controls button.cancel:focus {
  background-color: #D14B4B;
}
#waiting-list li .controls .progress-bar {
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px;
  color: white;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  margin-left: 5px;
  overflow: hidden;
}
#waiting-list li .controls .progress-bar.error {
  background-color: #D14B4B;
  text-align: center;
}
#waiting-list li .controls .progress-bar.ok {
  background-color: #4085B3;
  text-align: center;
}
#waiting-list li .controls .progress-bar .progress {
  background-color: #4085B3;
  display: inline-block;
  height: 26px;
}
#file-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
#file-list:empty {
  display: none;
}
#file-list li {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
}
#file-list li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
#file-list li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#file-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#file-list li .infos {
  margin-right: 125px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#file-list li .infos .name {
  display: block;
  font-weight: normal;
}
#file-list li .infos .size,
#file-list li .infos .type {
  color: grey;
}
#file-list li .infos .type:not(:empty):before {
  content: " - ";
}
#file-list li .controls {
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  top: -webkit-calc(50% - 15px);
  top: -moz-calc(50% - 15px);
  top: -o-calc(50% - 15px);
  top: -ms-calc(50% - 15px);
  right: 20px;
}
#file-list li .controls .progress-bar,
#file-list li .controls a.download {
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px;
  color: white;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  overflow: hidden;
  transition: 100ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  -ms-transition: 100ms ease-in-out;
}
#file-list li .controls a.download {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
}
#file-list li .controls a.download:hover {
  background-color: #62B324;
  color: white;
}
#file-list li .controls .progress-bar.error {
  background-color: #D14B4B;
  text-align: center;
}
#file-list li .controls .progress-bar.ok {
  background-color: #4085B3;
  text-align: center;
}
#file-list li .controls .progress-bar .progress {
  background-color: #4085B3;
  display: inline-block;
  height: 26px;
}
footer p {
  font-size: 12px;
  line-height: 16px;
  color: grey;
  text-align: center;
}
footer p a {
  color: #4085B3;
}
footer p a:not(:hover) {
  text-decoration: none;
}
@keyframes drop-area-anim {
  from {
    background-color: rgba(0, 0, 0, 0.02);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  to {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
@-webkit-keyframes drop-area-anim {
  from {
    background-color: rgba(0, 0, 0, 0.02);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  to {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
@-moz-keyframes drop-area-anim {
  from {
    background-color: rgba(0, 0, 0, 0.02);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  to {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
@-ms-keyframes drop-area-anim {
  from {
    background-color: rgba(0, 0, 0, 0.02);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  to {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
@-o-keyframes drop-area-anim {
  from {
    background-color: rgba(0, 0, 0, 0.02);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  to {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
